# Keep environment variables secret
.env

# Build artifacts
dist/
node_modules/

# Log files do not need to be in source control
log/
yarn-error.log

# Ignore VSCode workspace files
*.code-workspace

# Ignore Prisma DBs
prisma/*.db
